:root {
  --d-background: #3B8A5F;
  --l-background: #94B98A;
  --white: #F5F5F5;
  --black: #1A1A1A;
}

@font-face {
  font-family: "primary-font";
  src: url("/public/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.dark-background {
  background-color: var(--d-background) !important;
}

.light-background{
  background-color: var(--l-background) !important;
}

.black-background{
  background-color: var(--black) !important;
}

h1{
  font-family: "primary-font", sans-serif !important;
}

p{
  font-family: "primary-font", sans-serif !important;
}
.white-text {
  color: #F5F5F5 !important;
  font-weight: normal;
  text-decoration: none;
  font-family: "primary-font", sans-serif !important;
}

.navbar-text:hover {
  color: #94B98A !important;
  font-weight: bold;
  text-decoration: underline;
}

.rounded-container{
  border-radius: 32px !important;
}

.about-me-text{
  color: var(--black);
  font-size: 25px;
}

@media (max-width: 480px) {
  .about-me-text {
    font-size: 14px;
  }
}
.gray-text {
  color: #7c7c7c;
  max-height: fit-content;
  min-height: fit-content;
}

.jumbotron {
  background-image: url("../../../public/assets/images/grid.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(25, 18, 18);
  max-height: 500px;
  min-height: 500px;
}

.grid-background {
  background-image: url("../../../public/assets/images/grid.jpg");
  background-repeat: repeat;       
  background-size: auto;          
  background-position: top left;   
}

.bottom-negative-space{
  margin-bottom: 6rem;
}

.left-arrow{
  color: #1A1A1A;
  background-color: #3B8A5F!important;
  border-radius: 100%;
  max-height: 3rem;
  max-width: 3rem;
  left: 2rem!important;
  z-index: 5;
}

.right-arrow{
  color: #1A1A1A;
  background-color: #3B8A5F!important;
  border-radius: 100%;
  max-height: 3rem;
  max-width: 3rem;
  right: 2rem!important;
  z-index: 5;
}

.project-card{
  max-width: 500px;
}

.curved-bottom {
  position: relative;
  height: 10vh;
  border-bottom-left-radius: 20% 90%;
  border-bottom-right-radius: 20% 90%;
}

.curved-top {
  position: relative;
  height: 10vh;
  border-top-left-radius: 20% 90%;
  border-top-right-radius: 20% 90%;
}

.carousel-rectangles{
 
  width: 80px;
                  height: 10px;
                  border-radius: 3px;
                  border: none;
                
}
.max {
  max-height: 500px;
  min-height: 500px;
}

.display-1 {
  max-height: fit-content;
  min-height: fit-content;
}

.projects-container{
  border-top-left-radius: 90% 30%;
  border-top-right-radius: 90% 30%;
}

@font-face {
  font-family: "glastone";
  src: url("../fonts/GLASTONE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.glastone {
  font-family: "glastone", sans-serif;
}

@font-face {
  font-family: "manrope";
  src: url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.manrope {
  font-family: "manrope", sans-serif;
}

.no-caret {
  caret-color: transparent;
}




