:root {
  --d-background: #3B8A5F;
  --l-background: #94B98A;
  --white: #F5F5F5;
  --black: #1A1A1A;
}


@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}

.dark-background {
  background-color: var(--d-background) !important;
}

.light-background{
  background-color: var(--l-background) !important;
}

.navbar-text {
  color: #F5F5F5 !important;
  font-weight: normal;
  text-decoration: none;
}

.navbar-text:hover {
  color: #94B98A !important;
  font-weight: bold;
  text-decoration: underline;
}

.rounded-container{
  border-radius: 16px !important;
}

.about-me-text{
  color: var(--black) !important;
  font-size: 25px;
}

.gray-text {
  color: #7c7c7c;
  max-height: fit-content;
  min-height: fit-content;
}

.jumbotron {
  background-image: url("../../../public/assets/images/grid.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(25, 18, 18);
  max-height: 500px;
  min-height: 500px;
}

.grid-background {
  background-image: url("../../../public/assets/images/grid.jpg");
  background-repeat: repeat;       /* Repeats the image */
  background-size: auto;           /* Prevents scaling */
  background-position: top left;   /* Optional: start repeating from top-left */
}

.bottom-negative-space{
  margin-bottom: 6rem;
}

.carousel-inner {
  padding: 1em;
}

.curved-bottom {
  position: relative;
  background: var(--l-background);
  height: 10vh;
  border-bottom-left-radius: 20% 90%;
  border-bottom-right-radius: 20% 90%;
}

.curvedTop {
  position: relative;
  background: #d6d6d6;
  height: 2%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
}

.custom-carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.roundedGridWrapper {
  border-top-left-radius: 25% 15%;
  border-top-right-radius: 25% 15%;
  border-bottom-left-radius: 25% 15%;
  border-bottom-right-radius: 25% 15%;
  overflow: hidden;
  background-image: url("../images/grid.jpg");
  background-size: cover;
  background-position: center;
  border: solid #d6d6d6;
}

.max {
  max-height: 500px;
  min-height: 500px;
}

.display-1 {
  max-height: fit-content;
  min-height: fit-content;
}

@font-face {
  font-family: "glastone";
  src: url("../fonts/GLASTONE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.glastone {
  font-family: "glastone", sans-serif;
}

@font-face {
  font-family: "manrope";
  src: url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.manrope {
  font-family: "manrope", sans-serif;
}

.no-caret {
  caret-color: transparent;
}


